body {
	background-color: #fafafa;
	color: #333;
	font-family: 'Lato', Sans-serif;
}

::selection {
	background-color: #263e59;
	color: #dfffff;
}

h1 {
	font-size: 3rem;
	text-align: left;
}

h2 {
	font-size: 2rem;
	text-align: left;
	font-weight: 300;
}

h3 {
	font-size: 1.5rem;
	text-align: left;
}

a, a:visited {
	color: #2699ee;
}

a:hover {
	color: #ee9933;
}

main {
	display: block;
	width: 240px;
	margin: 0 auto;
}

.swatches{
	display: block;
	width: 140px;
	margin: 20px auto;
}

.swatch	{
	display: block; 
	float: left;
	width: 20px; 
	height: 20px; 
	background-color: #ee9933;
	border: 2px solid #222;
	margin: 2px;
}
.my-mosaic {
	clear: both;
	width: 240px;
}

.square {
	display: block; 
	float: left;
	width: 20px; 
	height: 20px; 
	background-color: #66ee33;
	border: 1px solid #222;
	margin: 1px;	
}